<img src="https://raw.githubusercontent.com/rhatiro/Curso_EBAC-Profissao_Cientista_de_Dados/main/ebac-course-utils/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Profissão: Cientista de Dados**
### **Módulo 4** | Introdução ao Pandas e carga de dados | Exercício 1

Aluno [Roberto Hatiro Nishiyama](https://www.linkedin.com/in/rhatiro/)<br>
Data: 10 de fevereiro de 2023.

---

# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia térmica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia_termica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])

anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui

anomalia_termica.index = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

arr = pd.DataFrame(arr)

arr

             0           1           2
0   104.262061   96.995495   97.393366
1   101.312013   89.890616   77.503692
2   125.206555  116.037420   96.164820
3    95.464095  106.045734  103.075369
4   102.782160   94.297522   93.405788
5   107.141201  108.458258   85.253916
6   111.477858  109.862347   89.029104
7   119.132600   88.460679  105.168762
8   118.360863   94.425743  119.831920
9    94.186512  102.004605  100.378632
10   87.898682   89.503574  106.172097
11  101.829713  101.721698  108.060611
12  101.229265  121.633514   88.585439
13   93.957561  119.414312  105.969310
14  111.020760  104.774192   96.584107
15   98.928386  120.255508  111.888185
16   96.141207   88.750276   84.063546
17  107.474936  109.870084   88.605785
18   91.186780   81.209969  104.384324
19  106.115282   89.265094  113.429018

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui

arr.index = arr.index + 1
arr.columns = ['x1', 'x2', 'x3']

arr

            x1          x2          x3
1   104.262061   96.995495   97.393366
2   101.312013   89.890616   77.503692
3   125.206555  116.037420   96.164820
4    95.464095  106.045734  103.075369
5   102.782160   94.297522   93.405788
6   107.141201  108.458258   85.253916
7   111.477858  109.862347   89.029104
8   119.132600   88.460679  105.168762
9   118.360863   94.425743  119.831920
10   94.186512  102.004605  100.378632
11   87.898682   89.503574  106.172097
12  101.829713  101.721698  108.060611
13  101.229265  121.633514   88.585439
14   93.957561  119.414312  105.969310
15  111.020760  104.774192   96.584107
16   98.928386  120.255508  111.888185
17   96.141207   88.750276   84.063546
18  107.474936  109.870084   88.605785
19   91.186780   81.209969  104.384324
20  106.115282   89.265094  113.429018

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui

arr['media'] = arr.mean(axis=1)

arr

            x1          x2          x3       media
1   104.262061   96.995495   97.393366   99.550307
2   101.312013   89.890616   77.503692   89.568773
3   125.206555  116.037420   96.164820  112.469598
4    95.464095  106.045734  103.075369  101.528399
5   102.782160   94.297522   93.405788   96.828490
6   107.141201  108.458258   85.253916  100.284458
7   111.477858  109.862347   89.029104  103.456436
8   119.132600   88.460679  105.168762  104.254014
9   118.360863   94.425743  119.831920  110.872842
10   94.186512  102.004605  100.378632   98.856583
11   87.898682   89.503574  106.172097   94.524784
12  101.829713  101.721698  108.060611  103.870674
13  101.229265  121.633514   88.585439  103.816073
14   93.957561  119.414312  105.969310  106.447061
15  111.020760  104.774192   96.584107  104.126353
16   98.928386  120.255508  111.888185  110.357360
17   96.141207   88.750276   84.063546   89.651676
18  107.474936  109.870084   88.605785  101.983601
19   91.186780   81.209969  104.384324   92.260358
20  106.115282   89.265094  113.429018  102.936465

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui

arr['log_med'] = np.log(arr['media'])

arr

            x1          x2          x3       media   log_med
1   104.262061   96.995495   97.393366   99.550307  4.600663
2   101.312013   89.890616   77.503692   89.568773  4.495007
3   125.206555  116.037420   96.164820  112.469598  4.722683
4    95.464095  106.045734  103.075369  101.528399  4.620339
5   102.782160   94.297522   93.405788   96.828490  4.572941
6   107.141201  108.458258   85.253916  100.284458  4.608011
7   111.477858  109.862347   89.029104  103.456436  4.639151
8   119.132600   88.460679  105.168762  104.254014  4.646830
9   118.360863   94.425743  119.831920  110.872842  4.708384
10   94.186512  102.004605  100.378632   98.856583  4.593670
11   87.898682   89.503574  106.172097   94.524784  4.548862
12  101.829713  101.721698  108.060611  103.870674  4.643147
13  101.229265  121.633514   88.585439  103.816073  4.642621
14   93.957561  119.414312  105.969310  106.447061  4.667648
15  111.020760  104.774192   96.584107  104.126353  4.645605
16   98.928386  120.255508  111.888185  110.357360  4.703724
17   96.141207   88.750276   84.063546   89.651676  4.495932
18  107.474936  109.870084   88.605785  101.983601  4.624812
19   91.186780   81.209969  104.384324   92.260358  4.524615
20  106.115282   89.265094  113.429018  102.936465  4.634112

---